.user {
    height: 60px;
    padding: 10px 90px 10px 10px;
    overflow: hidden;
}
.user__username,
.user__info {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.user__username {
    font-size: 130%;
    text-transform: uppercase;
    text-align: right;
}
.user__info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 80%;
    letter-spacing: 1px;
}
.user__avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 32px;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);
}
.user__avatar img {
    width: 100%;
    height: auto;
}
.user-form {
    transition: opacity 150ms linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.user-form__username {
    position: absolute;
    top: 10px;
}
.user__input {
    height: 21px;
    width: 150px;
    background: rgba(83, 164, 191, 0.2);
    border: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-size: 95%;
    padding: 2px 4px;
    color: #ccc;
}
.user__input:focus {
    outline-color: #999;
}
.user__input_button {
    width: 28px;
}
