.chat__messages {
    margin: 0 auto;
    padding: 10px 20px;
    list-style: none;
}
.chat__message {
    position: relative;
    float: left;
    clear: both;
    display: inline-block;
    min-width: 150px;
    padding: 10px;
    margin: 0 0 20px 75px;
    border-radius: 10px;
    color: #0AD5C1;
    background-color: rgba(25, 147, 147, 0.2);
}
.chat__message.chat__message_own {
    float: right;
    margin-left: 0;
    margin-right: 75px;
    color: #0EC879;
}
.chat__message:after {
    position: absolute;
    top: 10px;
    left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgba(25, 147, 147, 0.2);
}
.chat__message.chat__message_own:after {
    left: inherit;
    right: -10px;
    border-left: none;
    border-right: 10px solid transparent;
}
.chat__message_avatar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -75px;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat__message.chat__message_own .chat__message_avatar {
    left: inherit;
    right: -75px;
}
.chat__message_header {
    clear: both;
    height: 17px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 6px;
}
.chat__message_author {
    float: left;
    color: #cecece;
}
.chat__message_button,
.chat__message_date {
    transition: opacity 150ms linear;
}
.chat__message_date {
    font-size: 95%;
    color: rgba(255, 255, 255, 0.3);
    float: right;
    transition: opacity 50ms linear;
}
.chat__message_button {
    color: #cecece;
    font-family: inherit;
    font-size: inherit;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    opacity: 0;
    z-index: 1;
}
.chat__message_header:hover .chat__message_date {
    opacity: 0.1;
}
.chat__message_header:hover .chat__message_button {
    opacity: 1;
}
.chat__message_button:hover {
    color: rgba(255, 255, 255, 0.9);
}
.chat__message_avatar img {
    width: auto;
    height: 100%;
}
