.notice {
    position: absolute;
    z-index: 1000;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    color: #494949;
    background-color: #ffffff;
    font-size: 80%;
    text-align: center;
    opacity: .8;
    box-shadow: 2px 2px 11px #666666;
    transition: opacity 500ms linear;
}
.notice:after,
.notice:before {
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    left: 50%;
}
.notice:after {
    border-color: rgba(170, 170, 170, 0);
    border-width: 6px;
    margin-left: -6px;
}
.notice:before {
    border-color: rgba(255, 255, 255, 0);
    border-width: 7px;
    margin-left: -7px;
}
.notice_bottom:after,
.notice_bottom:before {
    bottom: 100%;
}
.notice_top:after,
.notice_top:before {
    top: 100%;
}
.notice_bottom:after {
    border-bottom-color: #ffffff;
}
.notice_top:after {
    border-top-color: #ffffff;
}
.notice_bottom:before {
    border-bottom-color: #aaaaaa;
}
.notice_top:before {
    border-top-color: #aaaaaa;
}
.notice-warning {
    background-color: #fffce5;
    border-color: #eedd55;
    color: #884400;
}
.notice_bottom.notice-warning:after {
    border-bottom-color: #fffce5;
}
.notice_top.notice-warning:after {
    border-top-color: #fffce5;
}
.notice_bottom.notice-warning:before {
    border-bottom-color: #eedd55;
}
.notice_top.notice-warning:before {
    border-top-color: #eedd55;
}

.notice-error {
    background-color: #fef5f1;
    border-color: #ed541d;
    color: #8c2e0b;
}
.notice_bottom.notice-error:after {
    border-bottom-color: #fef5f1;
}
.notice_top.notice-error:after {
    border-top-color: #fef5f1;
}
.notice_bottom.notice-error:before {
    border-bottom-color: #ed541d;
}
.notice_top.notice-error:before {
    border-top-color: #ed541d;
}
